body {
    min-width: 200px;
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

#cp-custom-price,
#bp-custom-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#bp-custom-price > span,
#cp-custom-price > span {
    width: 50%;
    flex: 0 0 50%;
}

#bp-custom-price > #custom-batch-price-input,
#cp-custom-price > #custom-price-input {
    width: 50%;
    flex: 0 0 50%;
    box-sizing: border-box;
}

#isbn-list {
    width: 100%;
    box-sizing: border-box;
}